:root {
  background-color: #f8f9ff;
  color: #121212;
  --montserratFont: "Montserrat", sans-serif;
  --openSansFont: "Open Sans", sans-serif;
  --black: #121212;
  --white: #F8F9FF;
  --orange: #EE6C4D;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1, h2, h3 ,h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--montserratFont);
  font-size: 4.8rem;
  font-weight: 800;
  color: var(--black);
}

h2 {
  font-family: var(--montserratFont);
  font-size: 6.4rem;
  font-weight: 400;
  color: var(--black);
}

h3 {
  font-family: var(--montserratFont);
  font-size: 4.8rem;
  font-weight: 500;
}

h4 {
  font-family: var(--montserratFont);
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--black);
}

h5 {
  font-family: var(--montserratFont);
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black);
}

h6 {
  font-family: var(--montserratFont);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black);
}

p {
  font-family: var(--openSansFont);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  letter-spacing: .02rem;
}


a {
  font-family: var(--montserratFont);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
}

ul {
  padding: 0 2rem;
  margin: 0;
  list-style-type: disc;
  list-style: circle;
  display: flex;
  gap: .4rem;
  flex-direction: column;
}

li {
  font-family: var(--openSansFont);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black);
  letter-spacing: .02rem;
}




@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
    
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
    
}